/* Texto de bienvenida */
.welcome-text {
    font-size: 1.8rem;
    /* Tamaño de fuente grande para el texto de bienvenida */
    color: #3b3b3b;
    /* Color gris oscuro para una buena lectura */
    text-align: center;
    /* Centra el texto horizontalmente */
    margin: 40px;
    /* Margen alrededor del texto */
    font-weight: bold;
    /* Hace que el texto sea negrita */
    letter-spacing: 1px;
    /* Espacio entre letras para un efecto elegante */
}

/* Texto de presentación */
.present-text {
    font-size: 1.5rem;
    /* Tamaño de fuente un poco más pequeño que el de bienvenida */
    color: #000000;
    /* Color negro para una buena lectura */
    text-align: justify;
    /* Justifica el texto para un alineamiento uniforme */
    margin: 40px;
    /* Margen alrededor del texto */
    font-weight: bold;
    /* Hace que el texto sea negrita */
    letter-spacing: 1px;
    /* Espacio entre letras para un efecto elegante */
}

/* Estilos del botón de cierre de sesión */
.button-logout {
    display: flex;
    /* Usar flexbox para alinear elementos internos */
    align-items: center;
    /* Centra los elementos verticalmente */
    justify-content: flex-start;
    /* Alinea los elementos al inicio horizontalmente */
    width: 45px;
    /* Ancho del botón */
    height: 45px;
    /* Altura del botón */
    border: none;
    /* Sin borde */
    border-radius: 50%;
    /* Bordes redondeados para un botón circular */
    cursor: pointer;
    /* Cambia el cursor al pasar por encima */
    position: relative;
    /* Posiciona el botón relativo a su posición original */
    overflow: hidden;
    /* Oculta cualquier contenido que desborde */
    transition-duration: 0.3s;
    /* Duración de la transición para efectos suaves */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    /* Sombra alrededor del botón */
    background-color: RGB(29, 185, 84);
    /* Color de fondo verde para el botón */
}

/* Estilos del ícono dentro del botón */
.sign {
    width: 100%;
    /* Ancho completo del contenedor del ícono */
    transition-duration: 0.3s;
    /* Duración de la transición para efectos suaves */
    display: flex;
    /* Usar flexbox para alinear elementos internos */
    align-items: center;
    /* Centra el ícono verticalmente */
    justify-content: center;
    /* Centra el ícono horizontalmente */
}

/* Tamaño del SVG del ícono */
.sign svg {
    width: 18px;
    /* Ancho del SVG */
}

/* Color del camino dentro del SVG */
.sign svg path {
    fill: black;
    /* Color negro para el ícono */
}

/* Estilos del texto en el botón */
.text {
    position: absolute;
    /* Posiciona el texto de forma absoluta */
    right: 0%;
    /* Alinea el texto a la derecha */
    width: 0%;
    /* Ancho inicial del texto, oculto al inicio */
    opacity: 0;
    /* Inicialmente invisible */
    color: black;
    /* Color negro para el texto */
    font-size: 1.2em;
    /* Tamaño del texto */
    font-weight: 600;
    /* Grosor del texto */
    transition-duration: 0.3s;
    /* Duración de la transición para efectos suaves */
}

/* Efecto al pasar el ratón sobre el botón */
.button-logout:hover {
    width: 125px;
    /* Aumenta el ancho del botón al pasar el ratón */
    border-radius: 40px;
    /* Bordes redondeados al pasar el ratón */
    transition-duration: 0.3s;
    /* Duración de la transición */
}

/* Efecto al pasar el ratón sobre el ícono */
.button-logout:hover .sign {
    width: 30%;
    /* Cambia el ancho del ícono al pasar el ratón */
    transition-duration: 0.3s;
    /* Duración de la transición */
    padding-left: 20px;
    /* Añade padding a la izquierda al pasar el ratón */
}

/* Efecto al pasar el ratón sobre el texto */
.button-logout:hover .text {
    opacity: 1;
    /* Hace visible el texto al pasar el ratón */
    width: 70%;
    /* Aumenta el ancho del texto al pasar el ratón */
    transition-duration: 0.3s;
    /* Duración de la transición */
    padding-right: 10px;
    /* Añade padding a la derecha al pasar el ratón */
}

/* Efecto al hacer clic en el botón */
.button-logout:active {
    transform: translate(2px, 2px);
    /* Desplaza el botón ligeramente al hacer clic */
}

/* Estilos del formulario */
.button-logout:active {
    transform: translate(2px, 2px);
    /* Desplaza el botón ligeramente al hacer clic */
}

/*cambiar
/* Estilos del formulario */
.container {
    max-width: 350px;
    background: #f8f9fd;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 30px 50px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
    margin-left: 100px; /* Remover el margen para centrar completamente */
    margin-top: 150px;
    
}

.heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
}

.form {
    margin-top: 20px;
}

.form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
}

.form .input::placeholder {
    color: rgb(170, 170, 170);
}

.form .input:focus {
    outline: none;
    border-inline: 2px solid #12b1d1;
}

.form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

.form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
}

.form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg,
            rgb(16, 137, 211) 0%,
            rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

.social-account-container {
    margin-top: 25px;
}

.social-account-container .title {
    display: block;
    text-align: center;
    font-size: 10px;
    color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
    border: 5px solid white;
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    place-content: center;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 12px 10px -8px;
    transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
    fill: white;
    margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
    transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
    transform: scale(0.9);
}

.agreement {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.agreement a {
    text-decoration: none;
    color: #0099ff;
    font-size: 9px;
}

.present-text{
    margin: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
}