

/* Estilo del contenedor principal */
.container-conta {
    font-family: 'Lucids Console',monospace;
    display: flex;
    max-width: 100%;
    width: 100%;
    padding: 43px;
    background-color:   #d9b5a050;
    
}

#Texto {
    color: #000000;
    width: 50%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

h1{
    font-family: 'Lucids Console',monospace;
    margin: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(47, 47, 252);
    
}

