/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Estilo del contenedor principal */
.container-escazes {
    color: #000000;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #3D8BF2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    font-family: 'Lucida Console', monospace;
    }
    
    h1, p {
    font-family: 'Lucida Console', monospace;
    
    
}
/*Contenedor gota*/
.canvas-container {
    background-color: #1675f2;
    width: 80vw; /* 80% del ancho de la ventana */
    height: 60vh; /* 60% de la altura de la ventana */
    margin: 0 auto;
    border: 2px solid #ccc;

  }

  .button {
    --bg: #000;
    --hover-bg: #2569a8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    position: absolute;
    top: 70vw; 
    left: 180vh;
    
  }


  .button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }

  .button1 {
    --bg: #000;
    --hover-bg: #2569a8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    position: absolute;
    top: 70vw; 
    left: 10vh;
    
  }
  

  .button1:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button1:active {
    transform: translate(0);
    box-shadow: none;
  }
  