/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del contenedor principal */
.container-home {
    color: #000000;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1675f227;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Estilo para el párrafo */
p {
    font-family: 'Lucida Console', monospace;
    margin: 2%;
    text-align: center;
    font-size: 1.5em;
    color: #000000;
}

p1 {
    margin: 5%;
    text-align: center;
    font-size: 1.3em;
    color: blue;
    font-weight: bold;
    font-family: 'Lucida Console', monospace;
}

/* Estilo para el cubo y su contenedor */
.cube-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea el cubo al principio */
    height: 80vh; /* Ajusta la altura para que el cubo quede más centrado */
    margin-top: 150px; /* Mueve el cubo más hacia abajo */
    margin-bottom: 100px; /* Asegura que el cubo tenga un margen inferior */
}

/* Asegura que el contenido se vea bien al centro */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
