body {
  margin-left: 5px;
  padding: 20px;
  font-size: medium;
  color: #fff;
  background-color: #fbfdfd;
  border: none;
  border-radius: 5px;
}

html,
body,
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden; /* Evita el scroll */
}

.container {
  
  justify-content: center;
  background-color: #1a619f;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Asegurar que el canvas ocupe toda la pantalla */
.canvas-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* Estilo para posicionar el botón de cerrar sesión */
.logout-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
