body {
  margin-left: 5px;
  padding: 20px;
  font-size: medium;
  color: #fff;
  background-color: #fbfdfd;
  border: none;
  border-radius: 5px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
}

.container {
  
  justify-content: center;
  background-color: #1a619f;
}

p {
  color: #333;}