body {
  font-size: medium;
  color: #fff;
  background-color: #fbfdfd;
  border: none;
  border-radius: 5px;
  
}



.container {
  
  justify-content: center;
  background-color: #1a619f;
}

p {
  color: #333;}